# **Limpieza**

#### LIBRERÍAS

In [ ]:
import pandas as pd # Manipulación df
import os # Directorios
import re # Manipulación de cadenas de texto (expresiones regulares)
import unicodedata # Función para eliminar acentos
from datetime import datetime, date  # Para trabajar con fechas y horas
from currency_converter import CurrencyConverter # convertidor de monedas
from dateutil.relativedelta import relativedelta  # Para calcular diferencias entre fechas, incluyendo años, meses y días

#### CARGAR ARCHIVO

Solo cambia el nombre en 'archivo_filename' y su ruta con 'archivo_dir'

In [ ]:
directorio_actual = os.getcwd() # Directorio actual de trabajo
# Ruta relativa al archivo CSV
archivo_filename = "ruta/relativa/al/archivo.csv"
archivo_dir = os.path.join(directorio_actual)
archivo_path = os.path.join(archivo_dir, archivo_filename)

Elimina el # de la primer línea si el archivo a leer no contiene el nombre de las columnas

In [ ]:
#column_names=['precio','denominacion','propiedad','metros_total','metros_construido','tiempo_de_publicacion','tipo','estacionamientos','recamaras','banos','medio_banos','seguridad_privada','ubicacion','url','descripcion']
df = pd.read_csv(archivo_path)
df.info()

# Elegir tipo de archivo a leer
#df = pd.read_excel(csv_path) 
df = pd.read_csv(archivo_path)

#### LIMPIEZA NULOS

In [ ]:
df.fillna({'precio': 0}, inplace=True) 
#df.fillna({'denominacion': 'MXN'}, inplace=True) 
df.fillna({'propiedad': 'Propiedad sin título'}, inplace=True) 
df.fillna({'metros_total': 0}, inplace=True) 
df.fillna({'metros_construido': 0}, inplace=True) 
#df.fillna({'tiempo_de_publicacion': '1 ene 1000'}, inplace=True) 
df.fillna({'tipo': 'Propiedad sin tipo de casa'}, inplace=True) 
df.fillna({'estacionamientos': 0}, inplace=True) 
df.fillna({'recamaras': 0}, inplace=True) 
df.fillna({'banos': 0}, inplace=True) 
df.fillna({'medio_banos': 0}, inplace=True) 
df.fillna({'seguridad_privada': 'No'}, inplace=True) 
df.fillna({'ubicacion': 'Propiedad sin ubicación'}, inplace=True) 
df.fillna({'url': '-'}, inplace=True) 
df.fillna({'descripcion': "Propiedad sin descripcion"}, inplace=True)

# 1. Manipulación de precios

## a) Precio en descripción

Agrega las diferentes formas de que el precio se encuentre en la descripción.

In [ ]:
def extraer_precio(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones
    precios = re.findall(r'\b(\d+[\.,]?\d*[\.,]?\d*)\s*($|mxn|USD|precio|pesos|monto|)', descripcion)
    precio = None
    for match in precios:
        numero, moneda = match
        numero = numero.replace(',', '').replace("'", '').replace(".",'')
        try:
            precio = float(numero)
        except ValueError:
            continue
        if precio:
            break
    return precio

# Denominación de la descripción
def extraer_denominacion(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones 
    denominaciones = re.findall(r'\b(mil|mxn|precio|pesos|monto|Mexicanos|Estadounidenses)\b', descripcion)
    return denominaciones[0] if denominaciones else None

df['precio_desc'] = df['descripcion'].apply(extraer_precio)
#df['denominacion_desc'] = df['descripcion'].apply(extraer_denominacion)

### Precio [0 / 0]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['precio'] == 0 ) & (df['precio_desc'].isna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas
# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['precio', 'precio_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 o 2): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'precio': ")
        df.at[idx, 'precio'] = float(new_value)
    elif option == '2':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

Eliminar registros que no recuperaron su precio ni desde la descripción

In [ ]:
df = df[~( (df['precio'] == 0 ) & (df['precio_desc'].isna()) )]

### Precio [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['precio'] == 0 ) & (df['precio_desc'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['precio', 'precio_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'precio' por el de 'precio_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'precio': ")
        df.at[idx, 'precio'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'precio'] = df.at[idx, 'precio_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Precio [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['precio']!= 0) & (df['precio_desc'].notna())) & (df['precio'] != df['precio_desc']) )] 
# Filtro dentro del estándar
totales = totales[(totales['precio_desc'] >= 250000) & (totales['precio_desc'] <= 500000000)]
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['precio', 'precio_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'precio' por el de 'precio_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'precio': ")
        df.at[idx, 'precio'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'precio'] = df.at[idx, 'precio_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")

    print("\n---\n")

print("Proceso completado.")

## b) Denominación MXN

SI EXISTE UNA DENOMINACIÓN QUE NO SEA MXN, SE CONVIERTA EL PRECIO

In [ ]:
import datetime
c = CurrencyConverter() # Instancia del convertidor de monedas
def convertir_a_mxn(precio, denominacion):
    if denominacion != 'MXN':
        return int(round(c.convert(precio, denominacion, 'MXN')))
    return precio

def convertir_a_usd(precio, denominacion):
    if denominacion != 'USD':
        return round(c.convert(precio, denominacion, 'USD'))
    return precio

# Obtener la fecha actual
fecha_conversion = datetime.datetime.now().date()

# Aplicar la conversión a cada fila del DataFrame y agregar la fecha de conversión
df['precio_mxn'] = df.apply(lambda row: convertir_a_mxn(row['precio'], row['denominacion']), axis=1)
df['precio_usd'] = df.apply(lambda row: convertir_a_usd(row['precio'], row['denominacion']), axis=1)
df['fecha_conversion'] = fecha_conversion
print(df[['precio', 'denominacion', 'precio_mxn', 'precio_usd', 'fecha_conversion']].head())

    precio denominacion  precio_mxn  precio_usd fecha_conversion
0  8000000          MXN     8000000   444999.64       2024-09-19
1  4810000          MXN     4810000   267556.03       2024-09-19
2  4500000          MXN     4500000   250312.30       2024-09-19
3  4300000          MXN     4300000   239187.31       2024-09-19
4  3946465          MXN     3946465   219521.94       2024-09-19

## c) Precio fuera del estandar

IDENTIFICAR Y ELIMINAR PROPIEDADES QUE CUENTEN CON PRECIOS BAJOS y ALTOS AL ESTANDAR

In [ ]:
# Eliminar los registros donde el precio es menor al estandar (250,000) y con precio_desc vacío
df = df[(df['precio'] >= 250000)] #& (df['precio_desc'].notna())]
# Eliminar los registros donde el precio es mayor al estandar (500,000,000) y con precio_desc vacío
df = df[(df['precio'] <= 500000000)] #& (df['precio_desc'].notna())] 
# Ordenar valores de manera ascendente
df['precio'].sort_values()

1605      415000
1604      419710
1603      419770
1598      419770
1602      419770
          ...
4       24000000
3       24000000
2       26000000
1       27000000
0       32000000
Name: precio, Length: 1607, dtype: int64

## D) Segmento o categoría

In [ ]:
# Crear un diccionario donde las llaves son las categorías y los valores son las tuplas de rangos
rangos_precio = {
    "E1": (0, 500000),
    "E2": (500000, 750000),
    "E3": (750001, 1000000),
    "D1": (1000001, 1250000),
    "D2": (1250001, 1500000),
    "D3": (1500001, 1750000),
    "C1": (1750001, 2000000),
    "C2": (2000001, 2250000),
    "C3": (2250001, 2500000),
    "B1": (2500001, 2750000),  
    "B2": (2750001, 3000000),  
    "B3": (3000001, 3250000),  
    "A1": (3250001, 3500000),
    "A2": (3500001, 3750000),
    "A3": (3750001, 4000000),
    "S1": (4000001, 6000000),
    "S2": (6000001, 8000000),
    "S3": (8000001, 12000000),
    "L1": (12000001, 14000000),
    "L2": (14000001, 16000000),
    "L3": (16000001, 18000000),
    "L+": (18000001, 22000000),
    "ELITE": (22000001, float('inf'))
}

# Función para asignar la categoría según el precio
def asignar_categoria(precio):
    for categoria, (limite_inferior, limite_superior) in rangos_precio.items():
        if limite_inferior <= precio < limite_superior:
            return categoria
    return None  # En caso de que el precio no caiga en ningún rango (caso raro)

# Asignar la categoría a cada registro
df['categoria'] = df['precio'].apply(asignar_categoria)
print(df['categoria'].unique())

[None 'S1' 'A3' 'A2' 'A1' 'B3' 'B2' 'B1' 'C3' 'C2' 'C1' 'D3' 'D2' 'D1'
 'E3' 'E2' 'E1']

# 2. Meses transcurridos

Sacar el número de meses transcurridos desde la fecha de su publicación a la actual

In [ ]:
from dateutil.relativedelta import relativedelta  # Diferencias entre fechas, incluyendo años, meses y días
from datetime import datetime
# Convertir el mes abreviado en número
def month_to_int(month):
    months = ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']
    return months.index(month.lower()) + 1

# Estandarizar el formato de fecha
def standardize_date(date_str):
    # Caso 1: formato "20 abr. 2023" -> "2023-04-20"
    try:
        day, month, year = date_str.split(' ')
        month_int = month_to_int(month.replace('.', ''))  # Eliminar puntos si existen
        return f"{year}-{month_int:02d}-{int(day):02d}"
    except (ValueError, AttributeError):
        pass

    # Caso 2: formato "YYYY-MM-DD HH:MM:SS" o "YYYY-MM-DD"
    try:
        return pd.to_datetime(date_str).strftime('%Y-%m-%d')
    except (ValueError, TypeError):
        # Si no se puede convertir, devolver None
        return None

# Aplicar la función a la columna 'tiempo_de_publicacion'
df['fecha_estandarizada'] = df['tiempo_de_publicacion'].apply(standardize_date)

# Convertir a datetime y manejar errores
df['fecha_estandarizada'] = pd.to_datetime(df['fecha_estandarizada'], errors='coerce')

# Obtener la fecha actual
fecha_actual = datetime.now().date()

# Función para calcular la diferencia en meses
def calcular_meses(fecha):
    if pd.isnull(fecha):
        return None
    rd = relativedelta(fecha_actual, fecha.date())
    return rd.years * 12 + rd.months

# Aplicar la función para calcular los meses transcurridos
df['meses_transcurridos'] = df['fecha_estandarizada'].apply(calcular_meses)

#Registro de fecha de conversión
df['meses_transcurridos_fecha'] = fecha_actual

# Mostrar el DataFrame con las fechas estandarizadas y meses transcurridos
print(df[['tiempo_de_publicacion', 'fecha_estandarizada', 'meses_transcurridos','meses_transcurridos_fecha']])

    tiempo_de_publicacion fecha_estandarizada  meses_transcurridos  \
0              2023-03-29          2023-03-29                   17
1              2023-04-28          2023-04-28                   16
2              2024-01-11          2024-01-11                    8
3              2023-09-13          2023-09-13                   12
4              2024-02-21          2024-02-21                    6
..                    ...                 ...                  ...
127            2024-03-04          2024-03-04                    6
128            2024-03-04          2024-03-04                    6
129            2024-02-17          2024-02-17                    7
130            2023-09-20          2023-09-20                   11
131            2024-03-04          2024-03-04                    6

    meses_transcurridos_fecha
0                  2024-09-19
1                  2024-09-19
2                  2024-09-19
3                  2024-09-19
4                  2024-09-19
..                        ...
127                2024-09-19
128                2024-09-19
129                2024-09-19
130                2024-09-19
131                2024-09-19

[132 rows x 4 columns]

# 3. Tipo de propiedad

## a) Lista de tipos deseados

In [ ]:
# Filtrar los registros según los tipos especificados
tipos_permitidos = 'Casa|Casa en Condominio|Departamento|Penthouse|Dúplex|Loft|Estudio|Condominio Horizontal'
df = df[df['tipo'].str.contains(tipos_permitidos, na=False)]
df['tipo'].unique()

array(['Departamento', 'Condominio Horizontal', 'Casa', 'Dúplex',
       'Casa Dúplex', 'Casa en Fraccionamiento', 'Casa en Condominio'],
      dtype=object)

* Casas: Casa en condominio, 
* Departamento: Penthouse, Loft

## b) Manejo de terrenos

Se buscan los registros que no sean las propiedades si no un solo terreno

In [ ]:
# Filtrar los registros según las condiciones dadas
totales =df[df['descripcion'].str.contains('lote', case=False)]
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# MANEJAR PROCESO DE ELIMINACIÓN 
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])#'descripcion',
    
    print("\n¿Te gustaría eliminar el registro?")
    # Solicitar la opción al usuario
    option = input("Elige una opción (si / no): ").strip().lower()
    
    if option == 'si':
        df.drop(idx, inplace=True)
        print(f"Registro eliminado.\n")
    else:
        print(f"Registro conservado.\n")
        print("\n---\n")
print("Proceso completado.")

## C) Estandarizar

In [ ]:
# Convierte todos los valores a strings, maneja NaN o None como cadenas vacías
df['tipo'] = df['tipo'].astype(str)
# Convertir a minúsculas
df['tipo'] = df['tipo'].str.lower()

import unicodedata# Función para eliminar acentos
def eliminar_acentos(texto):
    # Normaliza y elimina los acentos
    texto_normalizado = unicodedata.normalize('NFKD', texto)
    return ''.join(char for char in texto_normalizado if unicodedata.category(char) != 'Mn')
df['tipo'] = df['tipo'].apply(eliminar_acentos)

# Reemplazar Ñ
#df['propiedad'] = df['propiedad'].str.replace('ñ', 'n')
df['tipo'] = df['tipo'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
# Convertir la primera letra de cada palabra a mayúscula
df['tipo'] = df['tipo'].str.title()
df['tipo'].unique()

array(['Casa', 'Casa En Fraccionamiento', 'Departamento',
       'Casa En Condominio', 'Condominio Horizontal'], dtype=object)

# 4. Metros totales

## a) Metros en descripción

In [ ]:
# Función para extraer totales de la descripción
def extraer_totales(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones de totales
    totales = re.findall(r'\b(\d+[\.,]?\d*)\s*(metros|totales|mt2)\b', descripcion)
    total = None
    for match in totales:
        numero, _ = match
        numero = numero.replace(',', '').replace("'", '')
        try:
            total = float(numero)
        except ValueError:
            continue
        if total:
            break
    return total

# Aplicar la función al DataFrame
df['totales_desc'] = df['descripcion'].apply(extraer_totales)

### Metros [0 / 0]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['metros_total'] == 0 ) & (df['totales_desc'].isna() | df['totales_desc']==0) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['metros_total', 'totales_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_total' por el de 'totales_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'metros_total': ")
        df.at[idx, 'metros_total'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'metros_total'] = df.at[idx, 'totales_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Metros [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['metros_total'] == 0 ) & (df['totales_desc'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['metros_total', 'totales_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_total' por el de 'totales_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'metros_total': ")
        df.at[idx, 'metros_total'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'metros_total'] = df.at[idx, 'totales_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Metros [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['metros_total']!= 0) & (df['totales_desc'].notna())) & (df['metros_total'] != df['totales_desc']) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(f"metros_total: {row['metros_total']}")
    print(f"totales_desc: {row['totales_desc']}")
    print(f"url: {row['url']}")
    
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_total' por el de 'totales_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        while True:
            try:
                new_value = float(input("Introduce el nuevo valor para 'metros_total': "))
                df.at[idx, 'metros_total'] = new_value
                break
            except ValueError:
                print("Por favor, introduce un número válido (entero o decimal).")
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'metros_total'] = df.at[idx, 'totales_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    print("\n---\n")

print("Proceso completado.")

## b) Manejo por rangos de UMA

Paso opcional por si no se espera cambiar el precio por el que se tenga en descripción

Rangos
* 118 UMAS = 40m2
* 118.1-200 = 50m2
* 200.1-350 = 71m2
* 350.1-750 = 102m2
* 750.1-1500 = 156m2

### DF cuando ambas columnas son 0 o vacíos

In [ ]:
# Rangos de UMAs y sus equivalencias en m²
umas_to_m2 = [
    (118, 40),
    (200, 50),
    (350, 71),
    (750, 102),
    (1500, 156)
]
valor_uma = 108.57

# Convertir MXN a UMAs
def precio_a_umas(precio, valor_uma):
    return precio / valor_uma

# Asignar m² basado en el precio en UMAs
def asignar_m2(precio_umas):
    for upper_bound, m2 in umas_to_m2:
        if precio_umas <= upper_bound:
            return m2
    return None  # En caso de que el precio en UMAs sea mayor al máximo definido

# Actualizar los registros con 'metros_total' igual a 0 y 'totales_desc' es NaN
def actualizar_metros_total(row):
    if row['metros_total'] == 0 and pd.isna(row['totales_desc']):
        precio_umas = precio_a_umas(row['precio'], valor_uma)
        row['metros_total'] = asignar_m2(precio_umas)
    return row

totales = df[( (df['metros_total'] == 0 ) & (df['totales_desc'].isna() | df['totales_desc']==0) )] 
totales = df.apply(actualizar_metros_total, axis=1)
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

#df = df.apply(actualizar_metros_total, axis=1)
print(totales[['metros_total', 'totales_desc', 'url']])

In [ ]:
# Si se aceptan los cambios:
df = df.apply(actualizar_metros_total, axis=1)

# 5. M2 construidos

## a) M-construidos en descripción

In [ ]:
# Función para extraer totales de la descripción
def extraer_totales(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones de totales
    totales = re.findall(r'\b(\d+[\.,]?\d*)\s*(metros|construidos)\b', descripcion)
    total = None
    for match in totales:
        numero, _ = match
        numero = numero.replace(',', '').replace("'", '')
        try:
            total = float(numero)
        except ValueError:
            continue
        if total:
            break
    return total

# Aplicar la función al DataFrame
df['construidos_desc'] = df['descripcion'].apply(extraer_totales)

### Metros [0 / 0]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['metros_construido'] == 0 ) & (df['construidos_desc'].isna() | df['construidos_desc']==0) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['metros_construido', 'construidos_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_construido' por el de 'construidos_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'metros_construido': ")
        df.at[idx, 'metros_construido'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_construido' por 'construidos_desc'
        df.at[idx, 'metros_construido'] = df.at[idx, 'construidos_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Metros [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['metros_construido'] == 0 ) & (df['construidos_desc'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['metros_construido', 'construidos_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_construido' por el de 'construidos_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'metros_construido': ")
        df.at[idx, 'metros_construido'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_construido' por 'construidos_desc'
        df.at[idx, 'metros_construido'] = df.at[idx, 'construidos_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Metros [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['metros_construido']!= 0) & (df['construidos_desc'].notna())) & (df['metros_construido'] != df['construidos_desc']) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['metros_construido', 'construidos_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'metros_construido' por el de 'construidos_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'metros_construido': ")
        try:
            df.at[idx, 'metros_construido'] = float(new_value)
        except ValueError:
            print("Valor no válido. Debe ser un número. Pasando al siguiente registro...")
    elif option == '2':
        # Sustituir el valor de 'metros_construido' por 'construidos_desc'
        df.at[idx, 'metros_construido'] = df.at[idx, 'construidos_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

# 6. Precio / m2

## M2 Totales (terreno)

In [ ]:
# Calcular precio por metro cuadrado del terreno
df['precio_m2_terreno'] = df['precio']/df['metros_total']

## M2 Construidos

In [ ]:
# Calcular precio por metro cuadrado de la cosntrucción
df['precio_m2_construido'] = df['precio']/df['metros_construido']

# 7. Estacionamientos

## a) Estacionamientos descritos

Asigna las diferentes maneras en las que puede encontrarse descrito el espacio de estacionamientos

In [ ]:
# Función para extraer estacionamientos de la descripción
def extraer_coches(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones de totales
    totales = re.findall(r'\b(\d+[\.,]?\d*)\s*(|cochera|garage|carros|carro|coche|coches|autos|automóviles|automóvil|auto|lugares de estacionamiento)\b', descripcion)
    total = None
    for match in totales:
        numero, _ = match
        numero = numero.replace(',', '').replace("'", '').replace('.','')
        try:
            total = float(numero)
        except ValueError:
            continue
        if total:
            break
    return total

# Aplicar la función al DataFrame
df['estacionamiento_desc'] = df['descripcion'].apply(extraer_coches)

### Estacionamientos [0 / 0]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['estacionamientos']==0) & (df['estacionamiento_desc'].isna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'estacionamientos': ")
        df.at[idx, 'estacionamientos'] = float(new_value)    
    elif option == '2':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Estacionamientos [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['estacionamientos']==0) & (df['estacionamiento_desc'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['estacionamientos', 'estacionamiento_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'estacionamientos' por el de 'estacionamiento_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'estacionamientos': ")
        df.at[idx, 'estacionamientos'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'estacionamientos'] = df.at[idx, 'estacionamiento_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Estacionamientos [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['estacionamientos']!=0) & (df['estacionamiento_desc'].notna())) & (df['estacionamientos'] != df['estacionamiento_desc']) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['estacionamientos', 'estacionamiento_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'estacionamientos' por el de 'estacionamiento_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'estacionamientos': ")
        df.at[idx, 'estacionamientos'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'estacionamientos'] = df.at[idx, 'estacionamiento_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

## b) Mantener rango de estacionamientos < 5 (mínimo 1)

In [ ]:
df = df[df['estacionamientos'] <= 8]
#df[['estacionamientos','estacionamiento_desc','url']]

# 8. Recámaras

## a) Recámaras en descripción

In [ ]:
# Función para extraer cantidad de recamaras en descripción
def extraer_recamaras(descripcion):
    descripcion = descripcion.lower()
    # Buscar patrones de totales
    totales = re.findall(r'\b(\d+[\.,]?\d*)\s*(recamara|recamaras|habitaciones|dormitorio|dormitorios)\b', descripcion)
    total = None
    for match in totales:
        numero, _ = match
        numero = numero.replace(',', '').replace("'", '')
        try:
            total = float(numero)
        except ValueError:
            continue
        if total:
            break
    return total

# Aplicar la función al DataFrame
df['recamaras_desc'] = df['descripcion'].apply(extraer_recamaras)

### Recámaras [0 / 0]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[ (df['recamaras'] == 0 ) & (df['recamaras_desc'].isna()) ] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'recamaras': ")
        df.at[idx, 'recamaras'] = float(new_value)
    elif option == '2':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Recámaras [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['recamaras']==0) & (df['recamaras_desc'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['recamaras', 'recamaras_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'recamaras' por el de 'recamaras_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'recamaras': ")
        df.at[idx, 'recamaras'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'recamaras'] = df.at[idx, 'recamaras_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

Proceso completado.

### Recámaras [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['recamaras']!=0) & (df['recamaras_desc'].notna()) ) & (df['recamaras'] != df['recamaras_desc'])] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['recamaras', 'recamaras_desc', 'url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'recamaras' por el de 'recamaras_desc'")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1, 2, 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'recamaras': ")
        df.at[idx, 'recamaras'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'metros_total' por 'totales_desc'
        df.at[idx, 'recamaras'] = df.at[idx, 'recamaras_desc']
    elif option == '3':
        # Pasar al siguiente registro
        continue
    else:
        print("Opción no válida. Pasando al siguiente registro...")
    
    print("\n---\n")

print("Proceso completado.")

## b) Mantener rango de recámaras <= 7

In [ ]:
print(df['recamaras'].unique())
df = df[(df['recamaras'] <= 7)] 
#print(df[['recamaras','recamaras_desc','url']])

# 9. Baños

## a) Baños en descripción

Manejando tanto los completos como los medios

In [ ]:
# Extraer la cantidad de baños y medios baños en la descripción
def extraer_baños(descripcion):
    descripcion = descripcion.lower()
    
    # Buscar patrones de baños completos
    completos = re.findall(r'\b(\d+[\.,]?\d*)\s*baños?\b', descripcion)
    total_completos = sum([float(match.replace(',', '').replace("'", '')) for match in completos])
    
    # Buscar patrones de medios baños (1/2 baño)
    medios = re.findall(r'\b(\d+[\.,]?\d*)\s*medios?\s*baños?\b', descripcion)
    total_medios = sum([float(match.replace(',', '').replace("'", '')) for match in medios])
    
    # Retornar como un diccionario o una tupla
    return {'completos': total_completos, 'medios': total_medios}

# Aplicar la función al DataFrame
df['baños_desc'] = df['descripcion'].apply(extraer_baños)

# Si deseas separar en dos columnas distintas:
df['baños_completos'] = df['baños_desc'].apply(lambda x: x['completos'] if x else 0)
df['medios_baños'] = df['baños_desc'].apply(lambda x: x['medios'] if x else 0)

### Baños

#### [0 / 0]

Poner como mínimo para el registro 1 en baños, pero si cuenta con medio baño en descripción que se le asigne ese valor.

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[(df['banos'] == 0) & (df['baños_completos'].isna())]
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    #print("2. Asignar 1 como mínimo y pasar al siguiente registro")
    print("2. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'banos': ")
        df.at[idx, 'banos'] = float(new_value)
    #elif option == '2':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'banos'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

Proceso completado.

#### [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['banos']==0) & (df['baños_completos'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['banos']])
    print(row[['baños_completos']])
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'banos' por el de 'baños_completos'")
    #print("3. Asignar 1 como mínimo y pasar al siguiente registro")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2 | 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'banos': ")
        df.at[idx, 'banos'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'banos' por 'baños_completos'
        df.at[idx, 'banos'] = df.at[idx, 'baños_completos']
    #elif option == '3':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'banos'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

Registro 236:
banos    0.0
Name: 236, dtype: object
baños_completos    0.0
Name: 236, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a3ee8bf8fc9d-524a-1f3db509-83cd-4b7b
Name: 236, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

KeyboardInterrupt: Interrupted by user

#### [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['banos']!=0) & (df['baños_completos'].notna())) & (df['banos'] != df['baños_completos']))] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['banos']])
    print(row[['baños_completos']])    
    print(row[['url']])
    
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'banos' por el de 'baños_completos'")
    #print("3. Asignar 1 como mínimo y pasar al siguiente registro")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2 | 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'banos': ")
        df.at[idx, 'banos'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'banos' por 'baños_completos'
        df.at[idx, 'banos'] = df.at[idx, 'baños_completos']
    #elif option == '3':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'banos'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

Registro 31:
banos    2
Name: 31, dtype: object
baños_completos    5.0
Name: 31, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-93d194dc33d-d035-bf07501c-825e-4a4a
Name: 31, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 37:
banos    3
Name: 37, dtype: object
baños_completos    0.0
Name: 37, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-27915b7692e9-3bc0-67bbfd01-9453-4608
Name: 37, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 65:
banos    1
Name: 65, dtype: object
baños_completos    0.0
Name: 65, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c7136c4c8f36-cb2f-fd601220-8b1e-4305
Name: 65, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 91:
banos    1
Name: 91, dtype: object
baños_completos    4.0
Name: 91, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-cbd89c1181eb-6233-72e52972-be96-4e29
Name: 91, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 95:
banos    3
Name: 95, dtype: object
baños_completos    0.0
Name: 95, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-ece532a1de91-7596-9cfd993-b6d6-5038
Name: 95, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 114:
banos    1
Name: 114, dtype: object
baños_completos    2.0
Name: 114, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-b508efd58246-532d-db9a6d07-89c7-49ad
Name: 114, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 140:
banos    1
Name: 140, dtype: object
baños_completos    0.0
Name: 140, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-5e3154762f91-b464-3c3d91c2-b0fb-4e72
Name: 140, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 143:
banos    3
Name: 143, dtype: object
baños_completos    0.0
Name: 143, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-9f8416fe7d20-4558-6fedd2c1-b3af-3a95
Name: 143, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 145:
banos    2
Name: 145, dtype: object
baños_completos    0.0
Name: 145, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-1380b23a017b-eb33-179baee1-baca-3af7
Name: 145, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 146:
banos    2
Name: 146, dtype: object
baños_completos    0.0
Name: 146, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-54c9a76db762-9d8c-bfbd3eaf-b2e0-47ba
Name: 146, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 153:
banos    1
Name: 153, dtype: object
baños_completos    0.0
Name: 153, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-b52ebb7e062a-1c16-282bc937-92dd-4559
Name: 153, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 179:
banos    3
Name: 179, dtype: object
baños_completos    0.0
Name: 179, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-edb7d9699a45-bf79-71f1ad94-8d6e-354c
Name: 179, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 181:
banos    2
Name: 181, dtype: object
baños_completos    0.0
Name: 181, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f75d6780630b-8d42-297f81a9-b296-4751
Name: 181, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 188:
banos    2
Name: 188, dtype: object
baños_completos    0.0
Name: 188, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-ad88958b7e4b-2bb2-c0c7e785-a185-4bf5
Name: 188, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 195:
banos    1
Name: 195, dtype: object
baños_completos    0.0
Name: 195, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-2574f4ca7595-b1a2-a87e072b-9825-435a
Name: 195, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 198:
banos    1
Name: 198, dtype: object
baños_completos    2.0
Name: 198, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-693603a35ed7-4722-ec4a245b-9482-4c8e
Name: 198, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 201:
banos    1
Name: 201, dtype: object
baños_completos    2.0
Name: 201, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-18fe349753c6-ff0f-eaa172a9-85dc-4b6f
Name: 201, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 233:
banos    3
Name: 233, dtype: object
baños_completos    0.0
Name: 233, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c2dd6927fde4-1b1f-5b749227-9f3b-410e
Name: 233, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 235:
banos    1
Name: 235, dtype: object
baños_completos    3.0
Name: 235, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-2e47451c060f-da81-a84f117-bd93-4bce
Name: 235, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 236:
banos    2
Name: 236, dtype: object
baños_completos    0.0
Name: 236, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a3ee8bf8fc9d-524a-1f3db509-83cd-4b7b
Name: 236, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 322:
banos    3
Name: 322, dtype: object
baños_completos    0.0
Name: 322, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-caf342ff5ab1-bf9e-2aa3e70e-b9fc-4bee
Name: 322, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 347:
banos    1
Name: 347, dtype: object
baños_completos    0.0
Name: 347, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-704fd025bb38-1e15-97349991-9551-455f
Name: 347, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 392:
banos    1
Name: 392, dtype: object
baños_completos    0.0
Name: 392, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-90b676e4ac53-bc36-f7eb833-8e6b-4924
Name: 392, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 431:
banos    1
Name: 431, dtype: object
baños_completos    0.0
Name: 431, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f6235560e31a-1749-a0081ec8-a824-4bdd
Name: 431, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 434:
banos    2
Name: 434, dtype: object
baños_completos    0.0
Name: 434, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-33235dedb4ed-ac9e-fcaba94c-b874-4181
Name: 434, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 448:
banos    1
Name: 448, dtype: object
baños_completos    0.0
Name: 448, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-1d57a30e2009-c097-848a0f8b-94dd-4a10
Name: 448, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 454:
banos    1
Name: 454, dtype: object
baños_completos    0.0
Name: 454, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f11931ad4504-6d50-57fbeead-805b-478d
Name: 454, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 457:
banos    1
Name: 457, dtype: object
baños_completos    0.0
Name: 457, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-3431de6259b7-7af9-a113c8ce-bc30-47fd
Name: 457, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 516:
banos    1
Name: 516, dtype: object
baños_completos    0.0
Name: 516, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-50d17c00c137-4c06-e7fc02eb-ba22-4912
Name: 516, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 552:
banos    2
Name: 552, dtype: object
baños_completos    0.0
Name: 552, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-6945048fb219-fa03-43aa7a74-bab9-4364
Name: 552, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 565:
banos    3
Name: 565, dtype: object
baños_completos    0.0
Name: 565, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-ffef1447fcb-2a77-43df6de7-9b68-42d0
Name: 565, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 591:
banos    1
Name: 591, dtype: object
baños_completos    4.0
Name: 591, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-1f5bce4bef3-3e4e-b37badba-a9ab-4b4f
Name: 591, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 593:
banos    1
Name: 593, dtype: object
baños_completos    0.0
Name: 593, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-85bc36bf8eaf-6efb-327a921b-859e-4c09
Name: 593, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 603:
banos    1
Name: 603, dtype: object
baños_completos    0.0
Name: 603, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-40e021068c65-d03f-f0bfbcf3-83f9-333c
Name: 603, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 681:
banos    1
Name: 681, dtype: object
baños_completos    0.0
Name: 681, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-cdc4cefa2500-fbb7-b04903b2-b071-344e
Name: 681, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 683:
banos    3
Name: 683, dtype: object
baños_completos    0.0
Name: 683, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c489ef03a162-8ed1-3db9227a-98a2-39c9
Name: 683, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 687:
banos    1
Name: 687, dtype: object
baños_completos    0.0
Name: 687, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-56ab4fd0779b-3a2c-9d4dac41-b4d1-4132
Name: 687, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 703:
banos    2
Name: 703, dtype: object
baños_completos    2.5
Name: 703, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c99c82f29f03-d903-b606018d-ba70-365d
Name: 703, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 705:
banos    3
Name: 705, dtype: object
baños_completos    0.0
Name: 705, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-667d9cb29bd6-4b6d-28f2ba3d-a07e-3313
Name: 705, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 715:
banos    2
Name: 715, dtype: object
baños_completos    0.0
Name: 715, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-7ec904ade2ad-729e-b98841f5-bbdb-477f
Name: 715, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 805:
banos    1
Name: 805, dtype: object
baños_completos    0.0
Name: 805, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-355f1f2508e4-e726-3b85c981-a39f-4300
Name: 805, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 825:
banos    1
Name: 825, dtype: object
baños_completos    0.0
Name: 825, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-9b82da76bcac-a572-9c71140c-98f9-3d1a
Name: 825, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 829:
banos    1
Name: 829, dtype: object
baños_completos    0.0
Name: 829, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f1aeaaf44ccf-2367-85c8ac0e-b631-3341
Name: 829, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 849:
banos    2
Name: 849, dtype: object
baños_completos    0.0
Name: 849, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-9a66a6c61eb4-78df-71c0c7b7-bc27-3f1c
Name: 849, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 872:
banos    1
Name: 872, dtype: object
baños_completos    2.5
Name: 872, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-513d40a5f259-4d1d-e9064450-9e9f-3b7d
Name: 872, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 873:
banos    1
Name: 873, dtype: object
baños_completos    0.0
Name: 873, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-526d8529bbba-e36a-841c587f-9b4d-4fcd
Name: 873, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 878:
banos    1
Name: 878, dtype: object
baños_completos    0.0
Name: 878, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-66f77b4c2b00-d505-8be28d26-8c82-4711
Name: 878, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 879:
banos    1
Name: 879, dtype: object
baños_completos    0.0
Name: 879, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-af5162cc88fb-ae7a-9ad7d266-a260-40aa
Name: 879, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 880:
banos    1
Name: 880, dtype: object
baños_completos    0.0
Name: 880, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-251e52dffce8-274d-377b437c-a29e-4e89
Name: 880, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro

---

Registro 888:
banos    1
Name: 888, dtype: object
baños_completos    0.0
Name: 888, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a2012c98622d-6203-ae93989d-a1bc-4a48
Name: 888, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 897:
banos    2
Name: 897, dtype: object
baños_completos    0.0
Name: 897, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-9f0a085fc26f-17cb-e04cccfb-9c6c-33d6
Name: 897, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 899:
banos    2
Name: 899, dtype: object
baños_completos    0.0
Name: 899, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-bdf7c0be02f8-20d5-982e27eb-8839-4bba
Name: 899, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 948:
banos    1
Name: 948, dtype: object
baños_completos    2.0
Name: 948, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-4d3b789263c4-8ccb-53957f26-af9f-4f01
Name: 948, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 965:
banos    1
Name: 965, dtype: object
baños_completos    0.0
Name: 965, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-efb4a7889912-7154-757fb66a-9a5a-43d7
Name: 965, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente

C:\Users\yoe11\AppData\Local\Temp\ipykernel_10972\1369790780.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[idx, 'banos'] = df.at[idx, 'baños_completos']

---

Registro 6993:
banos    1
Name: 6993, dtype: object
baños_completos    0.0
Name: 6993, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-eb0c79af90fc-430-e6bbff06-a0f7-33ad
Name: 6993, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7019:
banos    1
Name: 7019, dtype: object
baños_completos    0.0
Name: 7019, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-50efc0ce8b46-81d9-289506e0-957b-402a
Name: 7019, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7020:
banos    1
Name: 7020, dtype: object
baños_completos    0.0
Name: 7020, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-b89ad56639c5-4da8-7f8d22f8-99a6-3892
Name: 7020, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7053:
banos    1
Name: 7053, dtype: object
baños_completos    0.0
Name: 7053, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-55cdc9adde79-bb23-3416064f-8471-36e9
Name: 7053, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7056:
banos    1
Name: 7056, dtype: object
baños_completos    0.0
Name: 7056, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-832d2095de18-97b0-595bca38-bb03-4692
Name: 7056, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7058:
banos    1
Name: 7058, dtype: object
baños_completos    0.0
Name: 7058, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c519f30e0b36-d4bc-e651fd50-8a77-3ddf
Name: 7058, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7104:
banos    1
Name: 7104, dtype: object
baños_completos    0.0
Name: 7104, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c027f68b143b-1ab1-510d9ab6-b274-4023
Name: 7104, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7174:
banos    1
Name: 7174, dtype: object
baños_completos    0.0
Name: 7174, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-2709ec37f81a-9365-3c745caa-bf87-3e68
Name: 7174, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7176:
banos    1
Name: 7176, dtype: object
baños_completos    0.0
Name: 7176, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-be7f61609c53-cc55-b405c23f-94e0-30ac
Name: 7176, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7180:
banos    1
Name: 7180, dtype: object
baños_completos    3.0
Name: 7180, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-194c177f20d1-d0f9-9574c18e-9ceb-411f
Name: 7180, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7181:
banos    1
Name: 7181, dtype: object
baños_completos    3.0
Name: 7181, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-ef4be221ff61-2f9e-3e1b33d-a41d-485a
Name: 7181, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7230:
banos    1
Name: 7230, dtype: object
baños_completos    0.0
Name: 7230, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-21b9736281b-d56e-a0757901-87ce-3413
Name: 7230, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7315:
banos    1
Name: 7315, dtype: object
baños_completos    4.5
Name: 7315, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-8e6c61a65789-c1fd-6b04d8ae-9dba-3715
Name: 7315, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7340:
banos    1
Name: 7340, dtype: object
baños_completos    4.5
Name: 7340, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-fab56d2746de-5275-3be308c5-bf25-3bba
Name: 7340, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7408:
banos    1
Name: 7408, dtype: object
baños_completos    2.0
Name: 7408, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-4be6166283e9-d5b0-9a1e0c0d-8310-4242
Name: 7408, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7427:
banos    1
Name: 7427, dtype: object
baños_completos    0.0
Name: 7427, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-1954c3fecee-97fc-fe4dfa43-9e39-3ad0
Name: 7427, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7439:
banos    1
Name: 7439, dtype: object
baños_completos    2.0
Name: 7439, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-46c7f8afd2f-232b-68973b37-87f5-49a3
Name: 7439, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7454:
banos    1
Name: 7454, dtype: object
baños_completos    4.5
Name: 7454, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-e4cc8a2277db-31b1-3112f1bd-b92b-3975
Name: 7454, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7456:
banos    1
Name: 7456, dtype: object
baños_completos    4.5
Name: 7456, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-d53ccb5f069b-1175-29d4c63f-ac3a-3fe4
Name: 7456, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7463:
banos    1
Name: 7463, dtype: object
baños_completos    0.0
Name: 7463, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c5e2aa888720-376c-c42c49a6-9553-42ab
Name: 7463, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7531:
banos    1
Name: 7531, dtype: object
baños_completos    0.0
Name: 7531, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c1bffd0f8050-c932-75e3d847-a19c-3a33
Name: 7531, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7539:
banos    1
Name: 7539, dtype: object
baños_completos    0.0
Name: 7539, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-129f31718d-c047-54d66a53-b129-480c
Name: 7539, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7540:
banos    1
Name: 7540, dtype: object
baños_completos    4.0
Name: 7540, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-172e20e7551c-d4b4-a1caa0af-a0a8-4e6b
Name: 7540, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7542:
banos    1
Name: 7542, dtype: object
baños_completos    2.0
Name: 7542, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a9e8890da80b-edc5-8d96b319-a19c-4322
Name: 7542, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7545:
banos    1
Name: 7545, dtype: object
baños_completos    0.0
Name: 7545, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a39ca2aeeb76-6a46-7d97601e-ab57-3d2e
Name: 7545, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7558:
banos    1
Name: 7558, dtype: object
baños_completos    0.0
Name: 7558, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-9123948f1b78-ae26-91a282e6-88a1-46b0
Name: 7558, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7606:
banos    1
Name: 7606, dtype: object
baños_completos    0.0
Name: 7606, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-639e40dee57d-24e7-65e08bed-bc10-46de
Name: 7606, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7625:
banos    1
Name: 7625, dtype: object
baños_completos    5.5
Name: 7625, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-94356719fad7-a44b-b1edcae8-8dd6-37d3
Name: 7625, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7633:
banos    1
Name: 7633, dtype: object
baños_completos    3.0
Name: 7633, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-32136f09e862-3f6b-1ede5903-aa8c-4468
Name: 7633, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7634:
banos    1
Name: 7634, dtype: object
baños_completos    0.0
Name: 7634, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-735dcebac6e4-f5e6-45d50a66-8485-4907
Name: 7634, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7635:
banos    1
Name: 7635, dtype: object
baños_completos    3.0
Name: 7635, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-3f39f26c11d7-462c-2c736d7f-a4a3-4d44
Name: 7635, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7636:
banos    1
Name: 7636, dtype: object
baños_completos    0.0
Name: 7636, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-20add01b7506-2228-3a57acf-a796-3b21
Name: 7636, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7645:
banos    1
Name: 7645, dtype: object
baños_completos    0.0
Name: 7645, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c4c41a9807c7-b469-3b502331-97bd-3510
Name: 7645, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7646:
banos    1
Name: 7646, dtype: object
baños_completos    0.0
Name: 7646, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f0662deef78b-90e3-e93f50c0-8d01-319a
Name: 7646, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7675:
banos    1
Name: 7675, dtype: object
baños_completos    0.0
Name: 7675, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-6015bfb97c5b-c1d2-2c633a34-a162-478a
Name: 7675, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7741:
banos    1
Name: 7741, dtype: object
baños_completos    4.0
Name: 7741, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-f2c73b12fb96-dc59-5be8ebc5-96e4-34db
Name: 7741, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7768:
banos    1
Name: 7768, dtype: object
baños_completos    0.0
Name: 7768, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-8bd72f2530d8-fad5-2f64008c-9242-4fb0
Name: 7768, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7780:
banos    1
Name: 7780, dtype: object
baños_completos    0.0
Name: 7780, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-658dfa131717-a35a-c648cb22-b555-352e
Name: 7780, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7783:
banos    1
Name: 7783, dtype: object
baños_completos    0.0
Name: 7783, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-e831e81df650-eaec-f583017-9103-3411
Name: 7783, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7795:
banos    1
Name: 7795, dtype: object
baños_completos    0.0
Name: 7795, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-c9e030fabe5e-6d6-c52fb338-b968-3abd
Name: 7795, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7816:
banos    1
Name: 7816, dtype: object
baños_completos    0.0
Name: 7816, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a576a0d8e35e-3085-7c9044c3-b7a3-36d6
Name: 7816, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7865:
banos    2
Name: 7865, dtype: object
baños_completos    0.0
Name: 7865, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-91dcaf260934-461a-e88c5b54-b49d-3b71
Name: 7865, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7868:
banos    2
Name: 7868, dtype: object
baños_completos    3.0
Name: 7868, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-e55d556e6225-12d4-ff336f7b-b902-48e1
Name: 7868, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7873:
banos    2
Name: 7873, dtype: object
baños_completos    0.0
Name: 7873, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-62267eff3285-fcfa-9e7eebef-a311-3aa4
Name: 7873, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7900:
banos    2
Name: 7900, dtype: object
baños_completos    0.0
Name: 7900, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-b32e9c979750-6ec8-d5084a2b-bf6b-3f5a
Name: 7900, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7934:
banos    2
Name: 7934, dtype: object
baños_completos    0.0
Name: 7934, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-201dcb874e24-8ca6-8ac58b98-9734-3f37
Name: 7934, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7968:
banos    2
Name: 7968, dtype: object
baños_completos    0.0
Name: 7968, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-4796d0a5e41-c63-137c7612-be6b-3cda
Name: 7968, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 7974:
banos    2
Name: 7974, dtype: object
baños_completos    3.0
Name: 7974, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-bdcd9333b39a-8564-5f484d34-ad14-48de
Name: 7974, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8046:
banos    2
Name: 8046, dtype: object
baños_completos    0.0
Name: 8046, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-8ea39d217d92-af1a-509b71b5-b25e-4fbc
Name: 8046, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8061:
banos    2
Name: 8061, dtype: object
baños_completos    0.0
Name: 8061, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-624a6ad854d-a5e0-5c77db74-823b-3168
Name: 8061, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8117:
banos    2
Name: 8117, dtype: object
baños_completos    0.0
Name: 8117, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-a86ca7ac2f3b-b7c-b97bce25-86f7-4ebb
Name: 8117, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8118:
banos    2
Name: 8118, dtype: object
baños_completos    5.5
Name: 8118, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-1baec6f8473a-7a61-f2982d8c-bffd-35b1
Name: 8118, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8148:
banos    3
Name: 8148, dtype: object
baños_completos    4.0
Name: 8148, dtype: object
url    https://www.lamudi.com.mx/detalle/41032-73-6b8fc1e06820-3cae-41b6e9a7-bc1d-3db7
Name: 8148, dtype: object

¿Qué acción te gustaría realizar?
1. Sustituir el valor manualmente
2. Sustituir el valor de 'banos' por el de 'baños_completos'
3. Pasar al siguiente registro
Registro 8296:
banos    3
Name: 8296, dtype: object
baños_completos    0.0
Name: 8296, dtype: object

### Medio baños

#### [0 / 0]

Poner como mínimo para el registro 1 en baños, pero si cuenta con valor en descripción que se le asigne ese valor.

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[(df['medio_baños'] == 0) & (df['medios_baños'].isna())]
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    #print("2. Asignar 1 como mínimo y pasar al siguiente registro")
    print("2. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'banos': ")
        df.at[idx, 'banos'] = float(new_value)
    #elif option == '2':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'banos'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

KeyError: 'medio_baños'

#### [0 / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( (df['medio_baños']==0) & (df['medios_baños'].notna()) )] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'medio_baños' por el de 'medios_baños'")
    #print("3. Asignar 1 como mínimo y pasar al siguiente registro")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2 | 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'medio_baños': ")
        df.at[idx, 'medio_baños'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'medio_baños' por 'medios_baños'
        df.at[idx, 'medio_baños'] = df.at[idx, 'medios_baños']
    #elif option == '3':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'medio_baños'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

#### [# / #]

In [ ]:
# Filtrar los registros según las condiciones dadas
totales = df[( ((df['medio_baños']!=0) & (df['medios_baños'].notna())) & (df['medio_baños'] != df['medios_baños']))] 
pd.set_option('display.max_colwidth', None) # Mostrar URLs completas

# Iterar sobre los registros filtrados
for idx, row in totales.iterrows():
    print(f"Registro {idx}:")
    print(row[['url']])
    print("\n¿Qué acción te gustaría realizar?")
    print("1. Sustituir el valor manualmente")
    print("2. Sustituir el valor de 'medio_baños' por el de 'medios_baños'")
    #print("3. Asignar 1 como mínimo y pasar al siguiente registro")
    print("3. Pasar al siguiente registro")

    # Solicitar la opción al usuario
    option = input("Elige una opción (1 | 2 | 3): ")

    if option == '1':
        # Sustituir el valor manualmente
        new_value = input("Introduce el nuevo valor para 'medio_baños': ")
        df.at[idx, 'medio_baños'] = float(new_value)
    elif option == '2':
        # Sustituir el valor de 'medio_baños' por 'medios_baños'
        df.at[idx, 'medio_baños'] = df.at[idx, 'medios_baños']
    #elif option == '3':
        # Asignar valor de 1 como mínimo
        #df.at[idx, 'medio_baños'] = 1
        #continue  # Pasar al siguiente registro
    else:
        continue  # Pasar al siguiente registro

    print("\n---\n")

print("Proceso completado.")

## B) Total de baños

In [ ]:
# Make the medio_baños and banos sum
# 'medio_baños', divididos entre 2 para representar medios
df['bano_total'] = df['banos'] + (df['medio_banos'] / 2)
df['bano_total'] = df['bano_total'].round(1)  # Round the total, not just 'banos'
print(df[['banos', 'medio_banos', 'bano_total']].head())

   banos  medio_banos  bano_total
0      5            0         5.0
1      0            0         0.0
2      0            0         0.0
3      1            0         1.0
4      1            0         1.0