# **Filtro de tipo de mercado DatAlpine**

In [1]:
# Manejo de datos
import os # Directorios
import pandas as pd # Manipulación df

# Obtener el directorio actual de trabajo
directorio_actual = os.getcwd()

# Directorio donde se encuentran los archivos JSON (ruta relativa)
directorio_json = os.path.join(directorio_actual, '../../db/datos_json')

# Obtener la lista de archivos JSON en el directorio
archivos_json = os.listdir(directorio_json)

# Cargar los archivos JSON y crear DataFrames
for archivo in archivos_json:
    nombre_tabla = archivo.replace('datos_', '').replace('.json', '')
    ruta_json = os.path.join(directorio_json, archivo)
    globals()[f"df_{nombre_tabla}"] = pd.read_json(ruta_json)

# Obtener todos los nombres de las variables globales
nombres_variables_globales = list(globals().keys())

# Filtrar los nombres que comienzan con "df_", contienen "alfa_q" y "pachuca"
nombres_df_filtrados = [
    nombre for nombre in nombres_variables_globales 
    # Caso de cuando no son las alfa q
    if nombre.startswith("df_") and "alfa" in nombre and "tulancingo" in nombre
]

# Imprimir la lista de DataFrames filtrados
print("Lista de DataFrames filtrados:")
nombres_df_filtrados

Lista de DataFrames filtrados:

['df_alfa_abril_2024_tulancingo',
 'df_alfa_agosto_2024_tulancingo',
 'df_alfa_febrero_2024_tulancingo',
 'df_alfa_julio_2024_tulancingo',
 'df_alfa_junio_2024_tulancingo',
 'df_alfa_marzo_2024_tulancingo',
 'df_alfa_mayo_2024_tulancingo',
 'df_alfa_q_jul_2022_tulancingo',
 'df_alfa_q_jul_2023_tulancingo',
 'df_alfa_q_jun_2023_tulancingo',
 'df_alfa_q_mar_2023_tulancingo',
 'df_alfa_q_may_2022_tulancingo',
 'df_alfa_q_may_2023_tulancingo',
 'df_alfa_q_oct_2022_tulancingo',
 'df_alfa_q_oct_2023_tulancingo',
 'df_alfa_q_sep_2023_tulancingo']

In [9]:
df_alfa_q_sep_2023_tulancingo.columns

Index(['id', 'q', 'categoria', 'ids', 'propiedad', 'precio', 'm_total',
       'm_construido', 'precio_m2_terreno', 'precio_m2_construido',
       'tiempo_publicacion', 'personas_interesadas',
       'promedio_interes_mensual', 'estado', 'tipo', 'estacionamiento',
       'recamaras', 'baño', 'medio_baño', 'baño_total', 'cantidad_pisos',
       'antiguedad', 'seguridad', 'fraccionamiento', 'colonia', 'cp', 'url',
       'latitud', 'longitud'],
      dtype='object')

In [13]:
df_alfa_q_oct_2022_tulancingo.columns

Index(['id', 'q', 'categoria', 'ids', 'propiedad', 'precio', 'm_total',
       'm_construido', 'precio_m2_terreno', 'precio_m2_construido',
       'tiempo_publicacion', 'personas_interesadas',
       'promedio_interes_mensual', 'estado', 'tipo', 'estacionamiento',
       'recamaras', 'baño', 'medio_baño', 'baño_total', 'cantidad_pisos',
       'antiguedad', 'seguridad', 'fraccionamiento', 'colonia', 'cp', 'url',
       'latitud', 'longitud'],
      dtype='object')

In [14]:
df_alfa_marzo_2024_tulancingo.columns

Index(['id', 'Categoria', 'Precio', 'propiedad', 'metros_total',
       'metros_construido', 'precio_m2_terreno', 'precio_m2_construido',
       'tiempo_de_publicacion', 'Estado', 'Tipo', 'Estacionamientos',
       'Recamaras', 'Banos', 'Medio_banos', 'Banos_Total', 'Seguridad',
       'Colonia', 'CP', 'url'],
      dtype='object')

In [15]:
# Iterar sobre cada DataFrame en la lista filtrada
for nombre_df in nombres_df_filtrados:
    # Obtener el DataFrame usando globals()
    df = globals()[nombre_df]
    
    df.rename(columns={'Categoria':'categoria','Category':'categoria','Propiedad':'propiedad','Precio':'precio','m_total':'metros_total','m_construido':'metros_construido','Estacionamientos':'estacionamiento','Recamaras':'recamaras','Banos':'baño','Medio_banos':'medio_baño','Banos_Total':'baño_total'}, inplace=True)
        # Asignar el DataFrame modificado de nuevo a la variable global
    globals()[nombre_df] = df 

# Imprimir confirmación
print("Columnas renombradas en los DataFrames filtrados.")

Columnas renombradas en los DataFrames filtrados.

In [16]:
# Crear una lista de DataFrames seleccionados con las columnas específicas
dataframes_list = []
for nombre_df in nombres_df_filtrados:
    # Seleccionar las columnas 'id' y 'categoria'
    segment_df = globals()[nombre_df][['id','categoria','propiedad','precio','metros_total','metros_construido', 'precio_m2_construido','estacionamiento','recamaras', 'baño', 'medio_baño', 'baño_total']]
    # Añadir el DataFrame a la lista
    dataframes_list.append(segment_df)

In [20]:
df_total = pd.concat(dataframes_list, ignore_index=True)
df_total

,id,categoria,propiedad,precio,metros_total,metros_construido,precio_m2_construido,estacionamiento,recamaras,baño,medio_baño,baño_total
0,1,,Casa - Tulancingo de Bravo,8000000,482,460,17391.30,0,5,5,0,5.0
1,2,S1,CASA EN VENTA COL JARDINES DEL SUR TULANCINGO ...,4810000,228,360,13361.11,0,4,0,0,0.0
2,3,S1,"Se vende casa en Tulancingo, Fraccionamiento S...",4500000,200,287,15679.44,0,0,0,0,0.0
3,4,S1,"Casa en Venta, Col. La Morena. Tulancingo. Pac...",4300000,160,240,17916.67,1,5,1,0,1.0
4,5,A3,VENTA DE CASA EN PEDREGAL DE SAN FRANCISCO TUL...,3946465,150,150,26309.77,1,3,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1883,54,B1,Casa en Venta en Tulancingo a 45 Minutos de La...,2890000,220,140,20642.86,2,3,3,1,4.0
1884,55,S,"Casa en Venta en Felipe Ángeles, Tulancingo de...",6100000,285,430,14186.05,2,4,3,1,4.0
1885,56,A1,"!oportunidad! Propiedad Comercial en Venta, Ub...",3600000,350,350,10285.71,1,7,2,1,3.0
1886,57,B3,"Casa con 350 m² de Terreno, Col. Valle Verde T...",2480000,350,250,9920.00,4,3,3,0,3.0
1887,58,C3,"Oportunidad de Inversión, Propiedad en Tulanci...",1580000,400,90,17555.56,1,4,2,0,2.0

In [21]:
df_total.columns

Index(['id', 'categoria', 'propiedad', 'precio', 'metros_total',
       'metros_construido', 'precio_m2_construido', 'estacionamiento',
       'recamaras', 'baño', 'medio_baño', 'baño_total'],
      dtype='object')

In [22]:
df_total['precio'].describe()

count    1.888000e+03
mean     1.709291e+06
std      1.798620e+06
min      3.460400e+05
25%      6.772500e+05
50%      1.095000e+06
75%      2.000000e+06
max      1.750000e+07
Name: precio, dtype: float64

In [23]:
df_total['precio'].min()

346040

In [24]:
df_total['precio'].max()

17500000

In [25]:
df_total['precio'].mean()

np.float64(1709290.53654661)

In [26]:
df_total['precio'].median()

1095000.0

In [ ]:
df_total.groupby('precio')

In [27]:
df_total['metros_total'].min()

0

In [28]:
df_total['metros_total'].max()

4904

In [29]:
df_total['metros_total'].mean()

np.float64(169.2272245762712)

In [31]:
df_total['metros_total'].median()

120.0

In [ ]:
df