# ***Precio Promedio por M2 cuadrados***

In [1]:
# Manejo de datos
import os # Directorios
import pandas as pd # Manipulación df
# Gráficas
import plotly.graph_objects as go #Para obtener librería usar: pip install plotly
from plotly.subplots import make_subplots
import plotly.io as pio # Exportar gráfica

In [2]:
# Obtener el directorio actual de trabajo
directorio_actual = os.getcwd()
# Directorio donde se encuentran los archivos JSON (ruta relativa)
directorio_json = os.path.join(directorio_actual, 'datos_json')
#print("Directorio JSON relativo:", directorio_json)
# Obtener la lista de archivos JSON en el directorio
archivos_json = os.listdir(directorio_json)

### *Creación de los df por cada archivo json*

In [3]:
dataframes = {}
# Iterar sobre cada archivo JSON y crear un DataFrame
for archivo in archivos_json:
    # Obtener el nombre de la tabla del nombre del archivo
    nombre_tabla = archivo.replace('datos_', '').replace('.json', '')    
    # Cargar el archivo JSON en un DataFrame y asignarlo a una variable con un nombre dinámico
    ruta_json = os.path.join(directorio_json, archivo)
    globals()[f"df_{nombre_tabla}"] = pd.read_json(ruta_json)

In [4]:
# Obtener todos los nombres de las variables globales
nombres_variables_globales = list(globals().keys())
# Filtrar los nombres, solo aquellos que comienzan con "df_"
nombres_df = [nombre for nombre in nombres_variables_globales if nombre.startswith("df_")]

# Lista de nombres de los DataFrames creados
print("Lista de DataFrames creados:")
print(nombres_df)

Lista de DataFrames creados:
['df_alfa_q_feb_2023_pachuca', 'df_alfa_q_jul_2022_tulancingo', 'df_alfa_q_jul_2023_pachuca', 'df_alfa_q_jul_2023_tulancingo', 'df_alfa_q_jun_2023_pachuca', 'df_alfa_q_jun_2023_tulancingo', 'df_alfa_q_mar_2023_pachuca', 'df_alfa_q_mar_2023_tulancingo', 'df_alfa_q_may_2022_tulancingo', 'df_alfa_q_may_2023_tulancingo', 'df_alfa_q_nov_2022_pachuca', 'df_alfa_q_oct_2022_pachuca', 'df_alfa_q_oct_2022_tulancingo', 'df_alfa_q_oct_2023_tulancingo', 'df_alfa_q_puebla', 'df_alfa_q_sep_2023_pachuca', 'df_alfa_q_sep_2023_tulancingo', 'df_enero_2024_querertaro', 'df_financiamientos_2019_pachuca', 'df_financiamientos_2019_puebla', 'df_financiamientos_2019_tulancingo', 'df_financiamientos_2020_pachuca', 'df_financiamientos_2020_puebla', 'df_financiamientos_2020_tulancingo', 'df_financiamientos_2021_pachuca', 'df_financiamientos_2021_puebla', 'df_financiamientos_2021_tulancingo', 'df_financiamientos_2022_pachuca', 'df_financiamientos_2022_puebla', 'df_financiamientos_2022_tulancingo', 'df_financiamientos_2023_pachuca', 'df_financiamientos_2023_puebla', 'df_financiamientos_2023_tulancingo', 'df_grupos_edad_pachuca', 'df_grupos_edad_puebla', 'df_grupos_edad_queretaro', 'df_grupos_edad_tulancingo', 'df_jul_2023_puebla', 'df_junio_2023_queretaro', 'df_publicacion_pachuca', 'df_publicacion_puebla', 'df_salarios_pachuca', 'df_salarios_puebla', 'df_sep_2023_puebla', 'df_tiempo_dias_tulancingo', 'df_usuarios']

#### precio_m2_terreno
#### m2_total

In [5]:
df_alfa_q_oct_2022_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]

,precio,m2_total,m2_contruido,precio_m2_contruido,precio_m2_terreno
0,575000.00,45,50,11500.00,12777.78
1,600000.00,46,100,6000.00,13043.48
2,550000.00,48,48,11458.33,11458.33
3,751000.00,48,48,15500.52,15500.52
4,450000.00,50,55,8181.82,9000.00
...,...,...,...,...,...
1677,999999.99,1,1100,25909.09,28500.00
1678,999999.99,1,267,6928.84,1480.00
1679,999999.99,1,381,22309.71,6698.19
1680,999999.99,1,747,27443.11,14265.83
1681,999999.99,1,700,27142.86,12925.17

________
## *Selección de datos*

In [6]:
m2_df_alfa_q_oct_2022_pachuca = df_alfa_q_oct_2022_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_nov_2022_pachuca = df_alfa_q_nov_2022_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_feb_2023_pachuca = df_alfa_q_feb_2023_pachuca[['precio', 'm2_total',
       'm2_contruido','precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_mar_2023_pachuca = df_alfa_q_mar_2023_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_jun_2023_pachuca = df_alfa_q_jun_2023_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_jul_2023_pachuca = df_alfa_q_jul_2023_pachuca[['precio', 'm2_total',
       'm2_contruido', 'precio_m2_contruido', 'precio_m2_terreno',]]
m2_df_alfa_q_sep_2023_pachuca = df_alfa_q_sep_2023_pachuca[['precio', 'm2_total',
       'm2_construido', 'precio_m2_construido', 'precio_m2_terreno',]]

In [7]:
dataframes_list = [
    m2_df_alfa_q_oct_2022_pachuca,
    m2_df_alfa_q_nov_2022_pachuca,
    m2_df_alfa_q_feb_2023_pachuca,
    m2_df_alfa_q_mar_2023_pachuca,
    m2_df_alfa_q_jun_2023_pachuca,
    m2_df_alfa_q_jul_2023_pachuca,
    m2_df_alfa_q_sep_2023_pachuca
]

for df in dataframes_list:
    # Cambiar el nombre de las columnas
    df.rename(columns={'m2_contruido': 'm2_construido',
                       'precio_m2_contruido': 'precio_m2_construido'}, inplace=True)

C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',
C:\Users\yoe11\AppData\Local\Temp\ipykernel_19436\734174297.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'m2_contruido': 'm2_construido',

___
## *rangos*

### *DF CON RANGOS DE M2 Y SU PRECIO*

In [8]:
dataframes_list = [
    m2_df_alfa_q_oct_2022_pachuca,
    m2_df_alfa_q_nov_2022_pachuca,
    m2_df_alfa_q_feb_2023_pachuca,
    m2_df_alfa_q_mar_2023_pachuca,
    m2_df_alfa_q_jun_2023_pachuca,
    m2_df_alfa_q_jul_2023_pachuca,
    m2_df_alfa_q_sep_2023_pachuca
]
new_dataframes_list = []

# Definir los límites de los rangos
rangos = [0, 100, 150, 200, 250, 300, float('inf')]
labels = ['[0-100]', '[100-150]', '[150-200]', '[200-250]', '[250-300]', '[> 300]']

# Iterar sobre cada DataFrame en la lista original
for df in dataframes_list:
    # Crear una copia del DataFrame
    modified_df = df.copy()
    # Asignar el rango correspondiente a cada valor de 'm2_construido'
    modified_df['rango'] = pd.cut(modified_df['m2_total'], bins=rangos, labels=labels, right=False)
    # Crear un nuevo DataFrame solo con las columnas 'rango' y 'precio_m2_terreno'
    new_df = modified_df[['rango', 'precio_m2_terreno']].copy()
    # Agregar el nuevo DataFrame a la lista
    new_dataframes_list.append(new_df)

# Imprimir los primeros registros de cada nuevo DataFrame
for idx, df in enumerate(new_dataframes_list):
    print(f"Primeros registros de nuevo DataFrame {idx + 1}:")
    print(df.head())
    print()  # Agregar una línea en blanco entre cada DataFrame

Primeros registros de nuevo DataFrame 1:
     rango  precio_m2_terreno
0  [0-100]           12777.78
1  [0-100]           13043.48
2  [0-100]           11458.33
3  [0-100]           15500.52
4  [0-100]            9000.00

Primeros registros de nuevo DataFrame 2:
     rango  precio_m2_terreno
0  [0-100]           12777.78
1  [0-100]           13043.48
2  [0-100]           11458.33
3  [0-100]           11458.33
4  [0-100]           15500.52

Primeros registros de nuevo DataFrame 3:
     rango  precio_m2_terreno
0  [0-100]               8896
1  [0-100]              12672
2  [0-100]              11328
3  [0-100]              12239
4  [0-100]              12791

Primeros registros de nuevo DataFrame 4:
     rango  precio_m2_terreno
0  [0-100]           13550.98
1  [0-100]            7037.04
2  [0-100]           12054.55
3  [0-100]            8166.67
4  [0-100]           11616.67

Primeros registros de nuevo DataFrame 5:
     rango  precio_m2_terreno
0  [0-100]           33333.33
1  [0-100]           16688.89
2  [0-100]           35714.29
3  [0-100]          221000.00
4  [0-100]           12277.78

Primeros registros de nuevo DataFrame 6:
     rango  precio_m2_terreno
0  [0-100]           13055.56
1  [0-100]           12589.29
2  [0-100]           26754.08
3  [0-100]           28196.72
4  [0-100]           28524.59

Primeros registros de nuevo DataFrame 7:
     rango  precio_m2_terreno
0  [0-100]           31111.11
1  [0-100]           31111.11
2  [0-100]           40967.96
3  [0-100]           13846.15
4  [0-100]           14038.46

### *Promedio de precio_m2_terreno por rango CADA DF*

In [9]:
# Iterar sobre cada DataFrame modificado en new_dataframes_list
for idx, df in enumerate(new_dataframes_list):
    print(f"Promedio de precio_m2_terreno por rango en el DataFrame {idx + 1}:")
    # Agrupar el DataFrame por la columna 'rango' y calcular el promedio de 'precio_m2_terreno' para cada grupo
    promedios_por_rango = df.groupby('rango')['precio_m2_terreno'].mean()
    print(promedios_por_rango)
    print()  # Agregar una línea en blanco entre cada resultado

Promedio de precio_m2_terreno por rango en el DataFrame 1:
rango
[0-100]      16469.612659
[100-150]    18763.317388
[150-200]    21638.509925
[200-250]    21694.308655
[250-300]    25145.554103
[> 300]      24058.407167
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 2:
rango
[0-100]      16242.468095
[100-150]    18512.567189
[150-200]    21128.278100
[200-250]    20652.793333
[250-300]    23581.253864
[> 300]      22931.931270
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 3:
rango
[0-100]      15382.663717
[100-150]    19318.665992
[150-200]    21102.187500
[200-250]    20318.400000
[250-300]    16719.153846
[> 300]      15391.483871
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 4:
rango
[0-100]      16374.213392
[100-150]    18753.976184
[150-200]    20514.648247
[200-250]    21956.151608
[250-300]    20120.904638
[> 300]      19474.847652
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 5:
rango
[0-100]      18465.115040
[100-150]    19280.987941
[150-200]    22039.477255
[200-250]    22622.139507
[250-300]    25955.239111
[> 300]      21078.173986
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 6:
rango
[0-100]      23219.324524
[100-150]    23866.457742
[150-200]    15643.237895
[200-250]    14384.869545
[250-300]    15627.686154
[> 300]      16863.140000
Name: precio_m2_terreno, dtype: float64

Promedio de precio_m2_terreno por rango en el DataFrame 7:
rango
[0-100]      18269.369817
[100-150]    20672.039103
[150-200]    22592.415630
[200-250]    24542.754419
[250-300]    24464.570000
[> 300]      18427.718424
Name: precio_m2_terreno, dtype: float64

In [10]:
# Inicializar un diccionario para almacenar los promedios de precio por metro cuadrado para cada rango
promedios_por_rango_dict = {}
# Iterar sobre cada DataFrame modificado en new_dataframes_list
for idx, df in enumerate(new_dataframes_list):
    # Agrupar el DataFrame por la columna 'rango' y calcular el promedio de 'precio_m2_terreno' para cada grupo
    promedios_por_rango = df.groupby('rango')['precio_m2_terreno'].mean()
    # Actualizar el diccionario con los promedios calculados
    promedios_por_rango_dict[f'DataFrame_{idx + 1}'] = promedios_por_rango

# Convertir el diccionario en un DataFrame
rango_precio_m2 = pd.DataFrame(promedios_por_rango_dict)
print("DataFrame 'rango_precio_m2':")
rango_precio_m2

DataFrame 'rango_precio_m2':

,DataFrame_1,DataFrame_2,DataFrame_3,DataFrame_4,DataFrame_5,DataFrame_6,DataFrame_7
rango,,,,,,,
[0-100],16469.612659,16242.468095,15382.663717,16374.213392,18465.115040,23219.324524,18269.369817
[100-150],18763.317388,18512.567189,19318.665992,18753.976184,19280.987941,23866.457742,20672.039103
[150-200],21638.509925,21128.278100,21102.187500,20514.648247,22039.477255,15643.237895,22592.415630
[200-250],21694.308655,20652.793333,20318.400000,21956.151608,22622.139507,14384.869545,24542.754419
[250-300],25145.554103,23581.253864,16719.153846,20120.904638,25955.239111,15627.686154,24464.570000
[> 300],24058.407167,22931.931270,15391.483871,19474.847652,21078.173986,16863.140000,18427.718424

In [11]:
# Calcular el promedio general de cada rango en todas las columnas de rango_precio_m2
promedio_general_por_rango = rango_precio_m2.mean(axis=1)
# Crear un nuevo DataFrame 'Precio_mean_M2' con los rangos y sus promedios generales
Precio_mean_M2 = pd.DataFrame({'Rango': promedio_general_por_rango.index, 'Precio_m2_mean': promedio_general_por_rango.values})

print("DataFrame 'Precio_mean_M2':")
Precio_mean_M2

DataFrame 'Precio_mean_M2':

       Rango  Precio_m2_mean
0    [0-100]    17774.681035
1  [100-150]    19881.144506
2  [150-200]    20665.536365
3  [200-250]    20881.631010
4  [250-300]    21659.194531
5    [> 300]    19746.528910

### ***GRÁFICA***

In [21]:
colores = ['#2962ff', '#9500ff', '#ff0059', '#ff8c00', '#b4e600', '#2EC2A2','#F79CB9']
porcentajes = Precio_mean_M2['Precio_m2_mean']

# Convertir la columna 'Precio_m2_mean' a números de punto flotante
#Precio_mean_M2['Precio_m2_mean'] = Precio_mean_M2['Precio_m2_mean'].str.replace('$', '').str.replace(',', '').astype(float)
# Convertir los valores a cadenas con el formato deseado
textos_formateados = [f'${round(valor, 2):,.2f}' for valor in Precio_mean_M2['Precio_m2_mean']]

# Crear la figura
fig = go.Figure()

# Obtener el valor máximo redondeado al próximo múltiplo de 5000
max_valor = int(Precio_mean_M2['Precio_m2_mean'].max() / 5000 + 1) * 5000

# Agregar los datos como barras
fig.add_trace(go.Bar(
    x=Precio_mean_M2['Rango'],  # Eje x: Modalidades
    y=Precio_mean_M2['Precio_m2_mean'],  # Eje y: Porcentajes
    marker_color=colores,  # Especifica los colores de las barras
    text=textos_formateados,  # Texto que se mostrará en las barras (porcentaje)
    textposition='inside',  # Posición del texto (puede ser 'inside' o 'outside')
))

# Personalizar el diseño de la gráfica
fig.update_layout(
    #title='Precio promedio por M2 totales.',  # Título de la gráfica
    #xaxis=dict(title='Rango'),  # Título del eje x
    yaxis=dict(
        #title='Precio', # Título del eje y
        gridcolor='#dddcda', # Color de las líneas que dividen los rangos del eje Y
        gridwidth=1,
        tickvals=list(range(0, max_valor + 5000, 5000)),  # Valores de los ticks del eje y
        ticktext=[f'${valor:.2f}' for valor in range(0, max_valor + 5000, 5000)]  # Textos de los ticks del eje y
    ),  
    plot_bgcolor='rgba(0,0,0,0)',  # Color de fondo del gráfico
    height=500  # Altura de la gráfica
)

# Exportar gráfica como archivo HTML
def guardar_grafico_como_html(fig, nombre_archivo, carpeta='graficas'):
    # Crear la carpeta si no existe
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)
    
    # Gráfica como archivo HTML en la carpeta especificada
    pio.write_html(fig, f'{carpeta}/{nombre_archivo}.html')

# Exportar
guardar_grafico_como_html(fig, 'g_bar_PrecioPromedio-M2_pachuca', carpeta='graficas')
fig.show()

### *DF GENERAL CON RANGOS Y precio_m2_terreno*

In [37]:
dataframes_list = [
    m2_df_alfa_q_oct_2022_pachuca,
    m2_df_alfa_q_nov_2022_pachuca,
    m2_df_alfa_q_feb_2023_pachuca,
    m2_df_alfa_q_mar_2023_pachuca,
    m2_df_alfa_q_jun_2023_pachuca,
    m2_df_alfa_q_jul_2023_pachuca,
    m2_df_alfa_q_sep_2023_pachuca
]

# Definir los límites de los rangos
rangos = [0, 100, 150, 200, 250, 300, float('inf')]
labels = ['[0-100]', '[100-150]', '[150-200]', '[200-250]', '[250-300]', '[> 300]']

modified_dataframes_list = [] 
# Iterar sobre cada DataFrame en la lista
for df in dataframes_list:
    # Crear una copia del DataFrame
    modified_df = df.copy()
    # Asignar el rango correspondiente a cada valor de 'm2_construido'
    modified_df['rango'] = pd.cut(modified_df['m2_construido'], bins=rangos, labels=labels, right=False)
    # Agregar el DataFrame modificado a la lista
    modified_dataframes_list.append(modified_df)

# Nuevo DataFrame 
M2_RANGO_PRECIO = pd.DataFrame(columns=['rango', 'precio_m2_terreno'])

# Iterar sobre cada DataFrame modificado en modified_dataframes_list
for df in modified_dataframes_list:
    # Concatenar las columnas 'rango' y 'precio_m2_terreno' al DataFrame nuevo
    M2_RANGO_PRECIO = pd.concat([M2_RANGO_PRECIO, df[['rango', 'precio_m2_terreno']]], ignore_index=True)

M2_RANGO_PRECIO

          rango  precio_m2_terreno
0       [0-100]           12777.78
1     [100-150]           13043.48
2       [0-100]           11458.33
3       [0-100]           15500.52
4       [0-100]            9000.00
...         ...                ...
9903  [200-250]           10299.63
9904    [> 300]           15307.69
9905    [> 300]            1714.29
9906    [> 300]           14265.83
9907    [> 300]            6093.43

[9908 rows x 2 columns]

### *promedio_precio_m2_terreno POR CADA DF*

In [7]:
dataframes_list = [
    m2_df_alfa_q_oct_2022_pachuca,
    m2_df_alfa_q_nov_2022_pachuca,
    m2_df_alfa_q_feb_2023_pachuca,
    m2_df_alfa_q_mar_2023_pachuca,
    m2_df_alfa_q_jun_2023_pachuca,
    m2_df_alfa_q_jul_2023_pachuca,
    m2_df_alfa_q_sep_2023_pachuca
]
# Calcular el promedio de la columna deseada en cada DataFrame
promedios = [] # Lista para almacenar los promedios
for df in dataframes_list:
    promedio = df['precio_m2_terreno'].mean()
    promedios.append(promedio)

# Crear un nuevo DataFrame con los nombres de los DataFrames y los promedios
nombres_dataframes = ['oct_2022_pachuca', 'nov_2022_pachuca', 'feb_2023_pachuca', 'mar_2023_pachuca', 'jun_2023_pachuca', 'jul_2023_pachuca','sep_2023_pachuca']
df_promedios = pd.DataFrame({'df': nombres_dataframes, 'promedio_precio_m2_terreno': promedios})
df_promedios

                 df  promedio_precio_m2_terreno
0  oct_2022_pachuca                19590.450803
1  nov_2022_pachuca                19128.516295
2  feb_2023_pachuca                19018.006466
3  mar_2023_pachuca                19095.527807
4  jun_2023_pachuca                20191.286164
5  jul_2023_pachuca                19088.130727
6  sep_2023_pachuca                20723.088072